html {
  min-height: 100vh;
}

* {
  font-family: "Times New Roman", Arial;
  box-sizing: border-box;
}

.picture {
  position: relative;
  top: 5px;
  height: 30px;
  left: 5px;
}

h1 {
  text-align: center;
}

.to-do-container {
  padding: 0.625em;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.to-do-container input {
  padding: 1em;
  font-size: 1.2rem;
  min-width: 200px;
}

#addButton {
  padding-left: 1.5em;
  padding-right: 1.5em;
  cursor: pointer;
  font-size: 1.5rem;
}

.li-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  font-size: 1.25rem;
  padding: 0.75em 0.75em 0.75em 0.75em;
  cursor: pointer;
  position: relative;
  width: 50%;
  margin: 0 auto;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
}

ul li::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-image: url(img/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: -30px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  color: #555;
  background-image: url(img/checked.png);
}

ul li span.close {
  position: absolute;
  right: -45px;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 1.375rem;
  color: #555;
  line-height: 2.52em;
  border-radius: 50%;
}

ul li span:hover {
  background: #edeef0;
}
