*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Arial;
}

h1 {
  text-align: center;
}

.to-do-container {
  padding: 0.625em;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.errorMessageText {
  font-weight: bold;
}

.to-do-container input {
  padding: 1em;
  font-size: 1.2rem;
  min-width: 200px;
}

#addButton {
  padding-left: 1.5em;
  padding-right: 1.5em;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: #0d75ec;
  border: none;
  font-weight: 500;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-size: 1.25rem;
  padding: 0.75em 0.75em 0.75em 0.75em;
  position: relative;
  width: 50%;
  margin: 0 auto;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
}

/* .check {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 12px;
  left: -45px;
  cursor: pointer;
}

.checked {
  color: #555;
  text-decoration: line-through;
} */

li::before {
  content: "";
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-image: url(img/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: -40px;
}

.checked {
  color: #555;
  text-decoration: line-through;
}

.checked::before {
  color: #555;
  background-image: url(img/checked.png);
}

.edit {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 12px;
  right: -40px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.edit:hover {
  background-color: #0d75ec;
}

.delete {
  position: absolute;
  right: -80px;
  top: 12px;
  width: 35px;
  height: 35px;
  line-height: 2.5em;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.delete:hover {
  background-color: #f44336;
}
